@import "tailwindcss";

*{
  box-sizing: border-box;
}

html, body {
  height: 100%;

}

/* it is an sidebaar animation */
@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

/* lodder animation */

/* Slow Spin */
@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

/* Fade in */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
.animate-fadeIn {
  animation: fadeIn .4s ease-out forwards;
}

/* Fade in slow */
.animate-fadeInSlow {
  animation: fadeIn 1.2s ease-out forwards;
}

/* Typing Effect */
.loaderText {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid rgba(255,255,255,0.5);
  animation: typing 1.8s steps(10) infinite alternate, blink .7s infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 110px; }
}
@keyframes blink {
  50% { border-color: transparent; }
}
